<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.intf.mapper.BasicTrainModeMapper">
 
<insert id="batchInsert" parameterType="java.util.List">
		       <![CDATA[
		insert all 
		]]>
<foreach collection="list" item="item" index="index"> 
			<![CDATA[  into pcs_basic_train_mode (
		"id",
		modename,
		modemintotal,
		modemaxtotal,
		modessx,
		modetraintypes,
		modemincarnum,
		modemaxcarnum,
		modemintrainid,
		modemaxtrainid,
		modemintrainnum,
		modemaxtrainnum
		
		)
		VALUES
			(
				  #{item.id,jdbcType=INTEGER}
				 ,#{item.modeName,jdbcType=VARCHAR}
				 ,#{item.modeMinTotal,jdbcType=INTEGER} 
				 ,#{item.modeMaxTotal,jdbcType=INTEGER} 
				 ,#{item.modeSsx,jdbcType=VARCHAR}
				 ,#{item.modeTrainTypes,jdbcType=VARCHAR}
				 ,#{item.modeMinCarNum,jdbcType=INTEGER} 
				 ,#{item.modeMaxCarNum,jdbcType=INTEGER} 
				 ,#{item.modemintrainID,jdbcType=INTEGER} 
				 ,#{item.modemaxtrainID,jdbcType=INTEGER} 
				 ,#{item.modeMinTrainNum,jdbcType=INTEGER} 
				 ,#{item.modeMaxTrainNum,jdbcType=INTEGER} 
			)
			]]>
		</foreach>
		<![CDATA[
		select * from dual
		]]>
			
 
</insert>


	<delete id="deleteALL" >
        delete from pcs_basic_train_mode
    </delete>

</mapper>


 