<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.intf.mapper.BasicTrainTeamMapper">
 
<insert id="batchInsert">
		       <![CDATA[
		insert all 
		]]>
<foreach collection="list" item="item" index="index"> 
			<![CDATA[  into pcs_basic_train_team (
		"number",
		"id",
		teamname,
		teamnote,
		teamparentid
		
		)
			VALUES (
				  #{item.number,jdbcType=INTEGER}
				 ,#{item.id,jdbcType=INTEGER}
				 ,#{item.teamName,jdbcType=VARCHAR}
				 ,#{item.teamNote,jdbcType=VARCHAR}
				 ,#{item.teamParentID,jdbcType=VARCHAR}
				 
                                  
			)
			]]>
		</foreach>
		<![CDATA[
		select * from dual
		]]>
			
 
</insert>


	<delete id="deleteALL" >
        delete from pcs_basic_train_team
    </delete>
    
</mapper>


 